//- gallery
mixin section-2()
  .magicTriger-2
  .magicSection-2
    .sectionWrapper__flex
      .sectionWrapper__column
        section.sectionWrapper._fullHeight
          .aboutSection__bg
          .sectionWrapper__in._alignRight
            .sectionWrapper__center
              .aboutSection
                .contentWrap
                  .aboutSection__text.test.magicSlideOpacity Мы совмещаем в своей продукции лучшие европейские технологии, красоту вручную отобранных материалов и гарантированное фабричное качество.

      .sectionWrapper__column
        section.sectionWrapper._fullHeight
          .sectionWrapper__in.baseSection._alignLeft
            .sectionWrapper__center
              .contentWrap._paddingLeft
                .section(
                  data-aos="fade-up-slow"
                  data-aos-anchor-placement="center-bottom"
                  data-aos-duration="1000")
                  .section__media._m326
                    .magicSlideBg
                    img(src="img/gallery-1.png", alt="")
                  .section__content.magicSlideOpacity
                    .section__name Двери eniqa – выбор<br />дизайнеров
                    .section__link.js-showModalGallery: button Галерея проектов
