//- doors
mixin section-3()
  .magicTriger-3
  .magicSection-3
    .sectionWrapper__flex
      .sectionWrapper__column
        section.sectionWrapper._fullHeight
          .sectionWrapper__in.baseSection._dark._alignRight
            .sectionWrapper__center
              .contentWrap._paddingRight
                .section._reverse._door.magicSlideOpacity(
                  data-aos="fade-up-slow"
                  data-aos-anchor-placement="center-bottom"
                  data-aos-duration="1000")
                    .section__media._m276: img(src="img/door-1.png", alt="")
                    .section__content
                      .section__name._strong Межкомнатные двери
                      .section__text Все наши модели отличает стильный внешний вид и уникальность конструкции. Мы сотрудничаем с лучшими производителями России и Италии, тщательно сортируем материалы и комплектующие, внедряем новейшие технологие, для того чтобы создать эксклюзивный продукт премиум-класса!
                      .section__link: a(href="catalog.html") перейти в каталог

      .sectionWrapper__column
        section.sectionWrapper._fullHeight
          .sectionWrapper__in.baseSection._outsideDoors._alignLeft
            .sectionWrapper__center
              .contentWrap._paddingLeft._paddingRight
                .section._reverse._door.magicSlideOpacity(
                  data-aos="fade-up-slow"
                  data-aos-anchor-placement="center-bottom"
                  data-aos-duration="1000")
                    .section__media._m276: img(src="img/door-2.png", alt="")
                    .section__content
                      .section__name._strong Входные двери
                      .section__text Надежные как скала двери, отличающиеся функциональным дизайном и эстетическим внешним видом. Конструкция всех моделей адаптирована под российские климатические и социальные требования.
                      .section__link: a(href="catalog.html") перейти в каталог
