//- salons & news
mixin section-4()
  .magicTriger-4
  .magicSection-4
    .sectionWrapper__flex
      .sectionWrapper__column
        section.sectionWrapper
          .salonBg
          .sectionWrapper__in._alignRight
            .sectionWrapper__center._alignBottom
              .baseSection._noPaddingTop._salons
                .contentWrap
                  .section._row(
                    data-aos="fade-up-slow"
                    data-aos-anchor-placement="center-bottom"
                    data-aos-duration="1000")
                    .section__bg._bgSalon
                    .section._salons
                      .section__name._strong Фирменные салоны
                      .section__content
                        .section__text Салоны Eniqa создаются с особым вниманием и любовью. Мы благодарим наших партнеров за доверие и вклад в развитие бренда.

      .sectionWrapper__column
        section.sectionWrapper._fullHeight
          .sectionWrapper__in.baseSection._greyLight._alignLeft
            .sectionWrapper__center
              .contentWrap._paddingLeft
                .section._columns(
                  data-aos="fade-up-slow"
                  data-aos-anchor-placement="center-bottom"
                  data-aos-duration="1000")
                  .section__column
                    .section__text г. Москва,<br />Волоколамское ш., д. 142,<br />стр. 6, 2 этаж
                    .section__link: a(href="salons.html") все салоны
                    .section__media._paddingTopBottom: img(src="img/salon-2.png", alt="")
                  .section__column
                    .section__text Хотите открыть свой салон?
                    .section__link: a(href="partners.html") Подробнее
                    .section__media._paddingTopBottom._hideOnMobile(style="padding-top: 72px"): img(src="img/salon-3.png", alt="")
