.section
  @media $media-laptop
    display-flex()
    align-items center
  &._paddingBottom
    padding-bottom 40px
  &._door
    @media $media-laptop
      align-items flex-start
  &._salons
    @media $media-laptop
      align-items flex-start
  &._columns
    align-items flex-start

  &._row
    display block

  &__bg
    &._bgSalon
      height 320px
      margin 0 -32px
      margin-right 6%
      margin-bottom 50px
      background url("../img/salon-1.png") center center no-repeat
      bg-cover()
      @media $media-laptop
        display none

  &__column
    @media $media-laptop
      padding-right 70px
    &:last-child
      @media $media-laptop
        padding-right 0

  &__content
    @media $media-laptop
      padding-left 70px
      ^[0]._door &
        order 1
        padding-left 0
        min-height 500px

  &__date
    padding-bottom 16px
    typo-12-dark-77()

  &__media
    position relative
    display-flex()
    justify-content center
    padding-bottom 68px
    &._paddingTopBottom
      padding-top 32px
      padding-bottom 32px
    &._hideOnMobile
      display none
      @media $media-laptop
        display-flex()
    ^[0]._door &
      @media $media-laptop
        order 2
        padding-top 150px
        padding-bottom 0
    img
      display block
      ^[0]._door &
        @media $media-laptop
          min-width 170px
          height 370px

  &__name
    padding-bottom 16px
    typo-13-dark-77()
    ^[0]._reverse &
      typo-14-white()
    &._strong
      typo-14-dark-26()
      ^[0]._reverse &
        typo-14-white()
    ^[0]._salons &
      @media $media-laptop
        white-space nowrap

  &__text
    padding-bottom 16px
    max-width 80%
    typo-13-dark-77()
    ^[0]._reverse &
      typo-13-grey-235()
    &:last-child
      padding-bottom 0
    ^[0]._door &
    ^[0]._address &
      @media $media-laptop
        max-width 50%
        min-width 154px
      @media $media-pc
        min-width 164px

  &__link
    a
    button
      typo-12u-dark-77()
      text-decoration none
      text-transform uppercase
      ^[0]._reverse &
        typo-12u-white()
