mixin section-1()
  .magicTriger-1
  .magicSection-1
    .sectionWrapper__flex
      .sectionWrapper__column
        section.companySection(
          data-aos="fade-up-slow"
          data-aos-duration="1000")
            .companySection__logo
            .companySection__text Современный подход к вековым традициям производства дверей

      .sectionWrapper__column
        section.sectionWrapper._fullHeight
          .sectionWrapper__in._alignLeft.welcome
            .sectionWrapper__center
              .contentWrap._paddingLeft._paddingRight
                .welcome__wrap(
                  data-aos="fade-up-slow"
                  data-aos-duration="1000")
                  .welcome__slider
                    .swiper-container.js-index-slider
                      .slider__next
                      .slider__prev
                      .swiper-wrapper
                        .swiper-slide
                          .slider__item
                            .slider__image._door: img(src="img/catalog-door-2.png", alt="")
                            .slider__bottom
                              .section__name Новая коллекция<br />Minimal M 500
                              .section__link: a(href="catalog.html") Перейти в каталог
                        .swiper-slide
                          .slider__item
                            .slider__image._door: img(src="img/catalog-door-1.png", alt="")
                            .slider__bottom
                              .section__name Вторая коллекция<br />Minimal M 100
                              .section__link: a(href="catalog.html") Перейти в каталог
                        .swiper-slide
                          .slider__item
                            .slider__image._door: img(src="img/catalog-door-3.png", alt="")
                            .slider__bottom
                              .section__name Еще коллекция<br />Minimal M 100
                              .section__link: a(href="catalog.html") Перейти в каталог
