//- salons & news
mixin section-5()
  .magicTriger-5
  .magicSection-5
    .sectionWrapper__flex
      .sectionWrapper__column
        section.sectionWrapper._fullHeight
          .sectionWrapper__in.baseSection._greyDark._alignRight
            .sectionWrapper__center
              .contentWrap._paddingRight(
                data-aos="fade-up-slow"
                data-aos-duration="1000")
                  .slider._wrapSides._navBottom
                    .swiper-container.js-index-slider
                      .slider__next
                      .slider__prev
                      .swiper-wrapper
                        .swiper-slide
                          .slider__item
                            .section._row._paddingBottom
                              .section__date 10.10.2018
                              .section__name._strong -20% на всю серию Wood Classic
                              .section__text Все наши модели отличает стильный внешний вид и уникальность конструкции!
                            .slider__image._door: img(src="img/news-1.png", alt="")
                        .swiper-slide
                          .slider__item
                            .section._row._paddingBottom
                              .section__date 10.09.2017
                              .section__name._strong У нас есть чудесные новости
                              .section__text Все наши модели отличает стильный внешний вид и уникальность конструкции!
                            .slider__image._door: img(src="img/news-2.png", alt="")

      .sectionWrapper__column
        //- footer
        section.sectionWrapper
          .sectionWrapper__in
            .sectionWrapper__center
              .contentWrap._paddingLeft._paddingRight(
                data-aos="fade-up-slow"
                data-aos-duration="1000")
                  .baseSection
                    .section._columns
                      .section__column
                        .section__name._strong Мы всегда рады вас<br />видеть
                        .section__text Главный офис —<br />ул.Вельяминовская, д. 9,<br />3 этаж
                        .section__text
                          .section__phone +7 (383) 354-99-50
                          .section__email: a(href="mailto:hello@eniqa.ru") hello@eniqa.ru
                        .section__link: button.js-showModalContacts связаться с нами

                      .section__column
                        .copy
                          .copy__madeBy
                            | Разработано <br /> в&nbsp;
                            a(href="http://renovartio.com/" title="Renovartio") Renovartio

                          .copy__menu
                            ul
                              each item in site.mainMenu
                                li: a(href=item.link, title=item.name) #{item.name}
