.sectionWrapper
  position relative
  background white
  display-flex('column')
  @media $media-laptop
    height 100%

  .contentWrap
    @media $media-laptop
      min-width 500px
      max-width 100%

  &._fullHeight
    min-height calc(100vh - 90px)
    max-height 810px
    @media $media-laptop
      min-height calc(100vh)

  &__in
    display-flex('column')
    flex-grow 1
    @media $media-laptop
      &._alignLeft
        align-items flex-start
      &._alignRight
        align-items flex-end

  &__flex
    @media $media-laptop
      display-flex()

  &__column
    &._hideMobile
      display none
      @media $media-laptop
        display block

    @media $media-laptop
      display block
      flex 0 0 50%
      max-width 50%

  &__center
    display-flex('column')
    justify-content center
    flex-grow 1
    width 100%
    @media $media-laptop
      flex-grow 1
      height 100%
      align-items flex-start
      justify-content center
      max-width 100%
      padding 40px 0
      &._alignBottom
        justify-content flex-end
    @media $media-pc
      max-width 750px
