// company
// -----------------------------------------------
.companySection
  position relative
  @media $media-laptop
    height 100%

  &__logo
    display none
    @media $media-laptop
      position absolute
      top 45%
      left 50%
      transform translate(-50%, -50%)
      display block
      width 306px
      height 61px
      background url('../img/logo.png') 0 0 no-repeat
      bg-contain()

  &__text
    width calc(140px + 32px * 2)
    padding 32px
    padding-bottom 48px
    typo-13-grey-128()
    @media $media-laptop
      position absolute
      bottom 50px
      left 50%
      transform translateX(-50%)
      width 260px
      padding 0
      text-align center

// welcome
// -----------------------------------------------
.welcome
  display-flex('column')
  flex-grow 1
  background url('../img/bg-welcome.jpg') center center no-repeat
  bg-cover()

  &__slider
    padding-top 68px
    position relative
    @media $media-laptop
      padding-top 0

// about
// -----------------------------------------------
.aboutSection
  position relative
  display-flex()
  align-items flex-end
  flex-grow 1

  &__bg
    position absolute
    right 0
    top 0
    width 100%
    height 100%
    background url("../img/bg-about.jpg") center left no-repeat
    bg-cover()
    @media $media-laptop
      background url("../img/bg-about-b.jpg") center left no-repeat
      bg-cover()

  &__text
    width 80%
    padding 32px
    padding-bottom 48px
    typo-13-white()
    @media $media-laptop
      width 50%
      padding 0

.salonBg
  @media $media-laptop
    position absolute
    left 0
    top 0
    width calc(100% - 100px)
    height 70vh
    background url("../img/salon-bg-b.jpg") right bottom no-repeat
    bg-cover()

// base
// -----------------------------------------------
.baseSection
  position relative
  padding 0 32px
  padding-bottom 48px
  padding-top 64px
  @media $media-laptop
    padding 0
    background white

  &._noPaddingTop
    padding-top 0
  &._dark
    background rgb(58, 58, 58)
  &._outsideDoors
    background rgb(58, 58, 58) url("../img/bg-outsideDoors.jpg") 0 0 no-repeat
    bg-cover()
  &._greyLight
    background rgb(240, 237, 235)
  &._greyDark
    background rgb(235, 232, 230)
  &._salons
    @media $media-laptop
      width 100%
      padding-top 100px
      padding-bottom 80px

[data-aos="fade-up-slow"]
  transform translate3d(0, 40px, 0)
