mixin header(className)
  header.header(class=className)
    .wrapper
      .header__in
        .header__placeholderLogo
        .header__logo
          a(href="index.html" title=site.name).header__logo__img

        .header__burger.js-handleClickMenu
          .header__burger__line
          .header__burger__line

        .header__mainMenu
          ul.menu
            each item in site.mainMenuShort
              li: a(href=item.link, title=item.name) #{item.name}

        .header__right
          .header__right__phone #{site.phone}
          buttton.header__right__opener.js-handleClickMenu Все разделы
