button
  margin 0
  padding 0
  border 0
  background 0
  cursor pointer

.button
  display block
  padding 16px
  text-decoration none
  text-align center
  typo-12u-dark-26()
  border 1px solid rgb(26, 26, 26)
  cursor pointer

  &:hover
    @media $media-laptop
      background alpha(rgb(26, 26, 26), .02)

  &:active
    background alpha(rgb(26, 26, 26), .05)

  @media $media-laptop
    max-width 240px
    padding 14px

  &._grey
    typo-12u-128()
    border 1px solid rgb(204, 204, 204)
