.catalogItems
  @media $media-ipad
    display-flex()
    flex-flow row wrap
    justify-content space-between
    &:after
      content ""
      flex auto
      margin-left auto
      margin-right auto
      flex 1 0 50%

  @media $media-laptop
    margin-left 18%
    &:after
      flex 1 0 33%

    @supports (display grid)
      &:after
        display none

      @media $media-laptop
        display grid
        grid-template-columns repeat(3, minmax(min-content, 100px))
        align-content space-around
        justify-content space-between

      @media $media-pc
        grid-template-columns repeat(4, minmax(min-content, 100px))

.catalogItem
  display block
  text-align center
  margin-bottom 60px
  text-decoration none
  @media $media-ipad
    flex 1 0 50%
  @media $media-laptop
    flex 1 0 33%
  @media $media-pc
    flex 1 0 25%

  &__in
    display inline-block
    text-align left
    @media $media-laptop
      display block

  &__media
    margin 0 auto
    padding-bottom 32px
    img
      width auto
      height 330px

  &__name
    typo-14-dark-26()

  &__desc
    typo-13-dark-77()


.catalogPages
  display-flex()
  justify-content space-between
  padding-top 32px
  padding-bottom 60px
  typo-12u-dark-26()
  border-top 1px solid rgb(128, 126, 125)
  @media $media-laptop
    margin-left 18%
    margin-top 60px
  a
    display inline-block
    text-decoration none
    @media $media-laptop
      width auto

  &__link
    &._prev
      text-align right
      @media $media-laptop
        display none

.paginator
  display none
  @media $media-laptop
    display flex
  &__item
    padding-right 10px
    a
      display block
      &._active
        typo-12u-128()
