.content
  width 100%
  padding 0 16px
  padding-top 10px
  font-size13-2()

  @media $media-ipad
    padding 0 64px

  @media $media-laptop
    padding 0 40px

  .fullPageImage
    display block
    width 100%
    margin-bottom 40px

    @media $media-laptop
      height 410px
      padding-left 18%
      margin-bottom 80px

  p
    margin 0 16px
    margin-bottom 46px
    @media $media-ipad
      max-width 80%

.contentBlock
  margin 0 16px
  padding-bottom 30px
  margin-bottom 30px
  border-bottom 1px solid rgb(230, 230, 230)
  @media $media-laptop
    display-flex()
    margin-left 18%
    margin-bottom 0
    padding-bottom 46px
    border 0

  &._noBorder
    border-bottom 0

  &._paddingBottom
    @media $media-laptop
      margin-bottom 0
      padding-bottom 80px

  &__title
    padding-bottom 16px
    typo-14-dark-26()
    @media $media-laptop
      flex-shrink 0
      width 34%
      padding-right 50px
      padding-bottom 0

  &__content
    flex-grow 1

  &__text
    padding-bottom 26px
    typo-13-dark-77()
    max-width 80%

    &:last-child
      padding-bottom 0

  &__upperCase
    typo-12u-dark-77()
    text-decoration none
    text-transform uppercase
    a
    button
      typo-12u-dark-77()
      text-decoration none
      &:hover
        @media $media-laptop
          text-decoration underline

.brandBlock
  @media $media-laptop
    display-flex()
    margin-left 18%
    margin-bottom 0
    padding-bottom 46px

    &:last-child
      padding-bottom 80px

  &__media
    margin-bottom 40px
    img
      display block
      width 100%
    @media $media-laptop
      width 50%
      margin-bottom 0
      flex-shrink 0

  &__content
    margin 0 16px
    margin-bottom 46px
    @media $media-ipad
      max-width 80%
    @media $media-laptop
      max-width 100%
      margin-bottom 0
      padding-left 50px
