.copy
  padding-top 200px
  display-flex()
  align-items flex-end
  justify-content space-between
  @media $media-laptop
    padding-top 0

  &__madeBy
    typo-13-grey-128()
    @media $media-laptop
      position absolute
      left 0
      bottom -150px
    a
      color var(--font-dark-26)

  &__menu
    ul, li
      margin 0
      padding 0
      list-style none

    li
      padding-top 6px

    a
      typo-12u-dark-50()
      text-decoration none
