.doorBlock
  padding-bottom 60px

  @media $media-laptop
    display-flex()
    justify-content space-between
    padding-left 18%
    padding-right 50px

  &__content
    @media $media-laptop
      order 1
      max-width 56%
      &__in
        width 68%

  &__slider
    padding-bottom 40px

    @media $media-laptop
      display-flex()
      justify-content flex-end
      max-width 44%
      order 2
      padding-bottom 0

      &__in
        width 100%

  &__fullCollection
    display-flex()
    align-items center
    justify-content center
    margin 0 auto
    width 160px
    height 360px
    background rgb(240, 237, 235)

.doorInfo
  margin 0 16px
  padding-bottom 32px
  @media $media-laptop
    margin 0
  &._paddingBottom50
    padding-bottom 50px
  &._inside
    margin 0
    padding 0
    padding-top 32px
    &:first-child
      padding-top 24px
  &:last-child
    padding-bottom 0
    @media $media-laptop
      padding-bottom 0

  &__title
    padding-bottom 6px
    typo-14-dark-26()

  &__text
    padding-bottom 26px
    typo-13-dark-77()

    &:last-child
      padding-bottom 0

  &__upperCase
    typo-12u-dark-77()
    text-decoration none
    text-transform uppercase
    a
      text-decoration none
