.dropdownBlock
  &._hideLaptop
    @media $media-laptop
      display none

  &:last-child
    .dropdownBlock__title
      padding-right 0

  &__title
    display-flex()
    padding-right 32px
    cursor pointer
    .name
      padding-right 12px
      typo-12u-dark-8()
      @media $media-laptop
        padding-right 40px
    .plus
      display flex
      align-items center
      typo-13-grey-128()
      line-height 12px

  &__content
    overflow hidden
    transition height .3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s linear
    &._show
      transition height .3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s linear
    &__item
      padding 5px 0
      cursor pointer
      &:first-child
        margin-top 16px
