.filter
  display-flex()
  padding-bottom 60px
  @media $media-laptop
    margin-left 18%
    display-flex()
    justify-content space-between
    margin-bottom 60px

.filterItem
  &._hideMobile
    display none
    @media $media-laptop
      display block

  &._more
    display block
    @media $media-laptop
      display none

.filtersModal
  .filterItem
    padding-bottom 30px
  .filterItem__title
    padding-right 0
    display-flex()
    justify-content space-between
