.footer
  background rgb(240, 237, 235)

  &__wrap
    @media $media-laptop
      padding-left 18%

  &__content
    display-flex()
    align-items flex-end
    justify-content space-between
    min-height 280px
    padding 40px 16px
    typo-12u-dark-50()

    @media $media-ipad
      padding-left 64px
      padding-right 64px

    @media $media-laptop
      padding-right 40px
      padding-left 40px

  a
    text-decoration none
    &:active
      text-transform uppercase
    &:hover
      @media $media-laptop
        text-decoration underline

  &__menu
    text-align right
    ul, li
      margin 0
      padding 0
      list-style none
    li
      padding-top 6px
