.header
  z-index 5
  position fixed
  left 0
  top 0
  width 100%
  background rgba(255, 255, 255, .95)
  &._indexPage
    @media $media-laptop
      background 0

  &__in
    position relative
    display-flex()
    align-items center
    justify-content space-between
    height 90px
    padding 26px 16px

    @media $media-ipad
      padding-left 64px
      padding-right 64px

    @media $media-laptop
      justify-content flex-start
      align-items flex-end
      height 98px
      padding 30px 40px

  &__placeholderLogo
    display none
    @media $media-laptop
      visibility hidden
      opacity 0
      display block
      position absolute
      width 17%
      height 30px
      left 40px
      top 38px

  &__logo
    @media $media-laptop
      width 18%
      anim-all()
    a
      position relative
      display block
      width 140px
      height 30px
      background url('../img/logo.png') 0 0 no-repeat
      bg-contain()

  &__burger
    position relative
    width 22px
    height 22px
    display flex
    flex-flow column
    justify-content center
    @media $media-laptop
      display none
    &__line
      width 100%
      height 2px
      background #080808
    &__line:nth-child(1)
      margin-bottom 4px

  &__mainMenu
    display none
    @media $media-laptop
      display block

    .menu
      position relative
      display-flex()
      align-items center
      li
        padding-right 15px
      a
        typo-12u-dark-50()
        text-decoration none
        &:hover
          text-decoration underline

  &__right
    display none
    typo-12u-dark-50()
    @media $media-laptop
      display-flex()
      margin-left auto
    &__phone
      padding-right 15px
    &__opener
      cursor pointer
