$border-color = rgb(204, 204, 204)

input, textarea, select
  font-primary()
  font-size 16px
  background 0
  border 0
  padding 0
  margin 0
  border-radius 0

input
  width 100%
  padding 0 0 10px 0
  border-bottom 1px solid $border-color

textarea
  width 100%
  min-width 100%
  max-width 100%
  min-height 30px
  padding 0 0 10px 0
  border-bottom 1px solid $border-color
