.loader
  display-flex()
  align-items center
  justify-content center
  opacity 1
  visibility visible
  z-index 1000
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  background #fff

  /.app._loaded &
    opacity 0
    visibility hidden
    transition all 600ms ease-in-out

.spinner
  position relative
  width 60px
  height 60px
  margin 100px auto
  text-align center
  animation sk-rotate 2.0s infinite linear

  &__dot1
  &__dot2
    display inline-block
    position absolute
    top 0
    width 60%
    height 60%
    background-color var(--font-grey-128)
    border-radius 100%
    animation sk-bounce 2.0s infinite ease-in-out

  &__dot2
    top auto
    bottom 0
    animation-delay -1.0s

@keyframes sk-rotate
  100%
    transform rotate(360deg)

@keyframes sk-bounce
  0%, 100%
    transform scale(0.0)
  50%
    transform scale(1.0)
