*
  box-sizing border-box
  &:focus
    background 0
    outline 0

html
  font-size 16px

.body
  font-primary()
  font-size13()


.body
.app
.main
  margin 0
  padding 0

.body
  &._overflow
    overflow hidden

  &._iosLock
    position fixed
    left 0
    top 0
    width 100%
    height 100% !important
    overflow hidden !important

.main
  padding-top 98px
  overflow hidden
  @media $media-laptop
    padding-top 186px
  &._indexPage
    @media $media-laptop
      padding-top 0

.wrapper
  position relative
  flex-grow 1
  width 100%
  margin 0 auto
  max-width 1500px

.contentWrap
  @media $media-ipad
    padding-left 64px
    padding-right 64px
  @media $media-laptop
    padding-left 40px
    padding-right 40px
  &._paddingLeft
    @media $media-laptop
      padding-left 100px
  &._paddingRight
    @media $media-laptop
      padding-right 100px

.hidden
  display none
