// modalBlock
// -----------------------------------------------
.modalBlock
  z-index 100
  overflow hidden
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  visibility hidden
  transition all .6s linear
  &._show
    visibility visible
  .header
    background 0

  &__wrap
    display-flex()
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background white
    transform translate3d(-100%, 0, 0)
    transition all 0.2s ease-in-out .06s
    visibility hidden
    opacity 0
    @media $media-laptop
      transform translate3d(100%, 0, 0)
    ^[0]._show &
      opacity 1
      transform translate3d(0, 0, 0)
      visibility visible
      transition all 0.3s ease-in-out
    .wrapper
      height 100%

  &__content
    max-width 100%
    overflow hidden
    position relative
    height 100%
    padding 100px 16px 16px 16px
    opacity 0
    transform translate3d(-10px, 0, 0)
    transition transform 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s
    @media $media-ipad
      padding-left 64px
      padding-right 64px
    @media $media-laptop
      transform translate3d(10px, 0, 0)
      padding-left 40px
      padding-right 40px
    ^[0]._show &
      opacity 1
      transform translate3d(0, 0, 0)
      transition transform 0.3s ease-in-out 0.25s, opacity 0.3s linear 0.3s

  &__close
    opacity 0
    position relative
    min-width 150px
    right 0
    top 0
    margin-left auto
    text-align right
    typo-12u-dark-26()
    cursor pointer
    transform translate3d(-10px, 0, 0)
    transition transform 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s
    @media $media-laptop
      transform translate3d(10px, 0, 0)
    ^[0]._show &
      opacity 1
      transform translate3d(0, 0, 0)
      transition transform 0.3s ease-in-out 0.25s, opacity 0.3s linear 0.3s

  &__copy
    text-align right

  &__menu
    z-index 2
    position relative
    padding-top 20px
    padding-left 40px

    ul, li
      padding 0
      margin 0
      list-style none

    a
      display block
      padding 5px 0
      typo-14-dark-26()
      text-transform uppercase
      text-decoration none
      @media $media-laptop
        text-align right
      &:hover
        @media $media-laptop
          text-decoration underline


// modalCenter
// -----------------------------------------------
.modalCenter
  z-index 100
  overflow hidden
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  visibility hidden
  transition all .6s linear
  &._show
    visibility visible

  &__wrap
    display-flex()
    align-items center
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    padding 16px
    transition all 0.2s ease-in-out
    background alpha(rgb(250, 247, 245), .9)
    visibility hidden
    opacity 0
    ^[0]._show &
      opacity 1
      visibility visible
      transition all 0.3s ease-in-out

  &__overflow
    position absolute
    width 100%
    height 100%

  &__content
    width 100%
    max-width 500px
    margin 0 auto
    max-height 100%
    overflow hidden
    overflow-y auto
    position relative
    padding 46px 32px
    opacity 0
    background white
    transform scale(.8)
    transition transform 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s
    @media $media-ipad
      padding-left 64px
      padding-right 64px
    @media $media-laptop
      padding-left 40px
      padding-right 40px
    ^[0]._show &
      opacity 1
      transform scale(1)
      transition transform 0.3s ease-in-out, opacity 0.3s linear

  &__close
    cursor pointer
    position absolute
    right 16px
    top 16px
    typo-13-grey-128()
    font-size 28px
    transform rotate(45deg)

  &__title
    text-align center
    margin 0
    padding 0
    padding-bottom 40px


._indexPage
  .modalCenter .header__logo
  .modalBlock .header__logo
    display none
