.salonsBlock
  @media $media-laptop
    display-flex()

.salonsCities
  padding-bottom 40px

  @media $media-laptop
    width 18%
    padding-right 50px

  &__item
    display block
    cursor pointer
    padding-bottom 16px
    typo-12u-dark-26()

    &:last-child
      padding-bottom 0

.salonsMap
  margin 0 -16px
  padding-bottom 40px
  height 240px

  @media $media-laptop
    flex-grow 1
    height 410px

  .mapBlock
    height 100%

.salonContact
  margin 0 16px
  padding-bottom 30px
  margin-bottom 30px
  border-bottom 1px solid rgb(230, 230, 230)
  @media $media-laptop
    display-flex()
    margin-left 18%
    margin-right 0
    margin-bottom 0
    padding-right 8%
    padding-bottom 46px
    border 0

  &._noBorder
    border-bottom 0

  &._paddingBottom
    @media $media-laptop
      margin-bottom 0
      padding-bottom 80px

  &__title
    padding-bottom 16px
    typo-14-dark-26()
    @media $media-laptop
      flex-shrink 0
      width 34%
      padding-right 50px
      padding-bottom 0

  &__content
    flex-grow 1
    @media $media-laptop
      display-flex()

  &__text
    padding-bottom 16px
    typo-13-dark-77()
    max-width 80%

    @media $media-laptop
      max-width 100%
      flex-grow 1
      padding-right 50px
      padding-bottom 0

    &:last-child
      padding-bottom 0

  &__phones
    white-space nowrap
    typo-13-dark-26()
    a
      typo-13-dark-26()
      text-decoration none
      &:hover
        @media $media-laptop
          text-decoration underline
