.slider
  position relative
  &._paddingTop
    padding-top 32px
  &._wrapSides
    margin 0 -32px
    @media $media-laptop
      margin 0

  &__item
    z-index 3
    position relative
    padding 0 32px
    @media $media-laptop
      padding 0

  &__image
    display-flex("row")
    justify-content center
    &._door img
      height 326px
    img
      display block

  &__bottom
    z-index 3
    position relative
    padding-top 68px
    padding-right 32px
    padding-bottom 40px
    @media $media-laptop
      padding-bottom 0

  &__prev
  &__next
    z-index 2
    position absolute
    top 0
    width 30%
    height 320px

    ^[0]._navBottom &
      top 150px

  &__prev
    left 0
    background url("../img/i_left.svg") 30% 160px no-repeat
    @media $media-laptop
      background url("../img/i_left.svg") 40px 160px no-repeat

  &__next
    right 0
    background url("../img/i_right.svg") 70% 160px no-repeat
    @media $media-laptop
      background url("../img/i_right.svg") calc(100% - 40px) 160px no-repeat

  &__pagination
    display-flex()
    align-items center
    justify-content center
    padding-top 40px

  &__bullet
    z-index 3
    position relative
    display block
    margin 0 6px
    width 16px
    height 16px
    background rgb(62, 68, 75)
    border-radius 50%
    &:nth-child(2)
      background rgb(77, 60, 55)
    &:nth-child(3)
      background rgb(207, 189, 176)
    &._active
      position relative
      &:after
        content " "
        position absolute
        left 6px
        top 6px
        width 4px
        height 4px
        background #fff
        border-radius 50%

.galerySlider
  position relative
  padding-top 80px
  padding-bottom 60px
  min-height 100%

  .swiper-container
    z-index 2
    min-height 100%

    @media $media-laptop
      max-width 60%
      margin 0 auto

  &__title
    padding-top 40px

  &__image
    img
      display block
      width 100%
      height auto
      max-height 400px

  &__prev
  &__next
    z-index 1
    position absolute
    top 40px
    width 30px
    height 20px
    @media $media-laptop
      top 60px
      width 30%
      height 100%

  &__prev
    left 0
    background url("../img/i_left.svg") 0 0 no-repeat
    @media $media-laptop
      left 0
      background url("../img/i_left.svg") 30% 220px no-repeat

  &__next
    left 60px
    background url("../img/i_right.svg") 0 0 no-repeat
    @media $media-laptop
      left inherit
      right 0
      background url("../img/i_right.svg") 70% 220px no-repeat

  &__pagination
    position absolute
    left 0
    bottom 0
    justify-content flex-end
