mixin catalogItem(name, desc, img)
  a.catalogItem(
    href="door.html"
    data-aos="fade-up-slow"
    data-aos-duration="1000")
    .catalogItem__in
      .catalogItem__media: img(src="img/" + img, alt=name)
      .catalogItem__name #{name}
      .catalogItem__desc #{desc}
