extends ../../layout/layout
include ../../atoms/header/header
include blocks/section-1
include blocks/section-2
include blocks/section-3
include blocks/section-4
include blocks/section-5

//- body
//-------------------------------------------------
block append layout-body
  +header("_indexPage")
  +modalGalley()

  //- main
  //-------------------------------------------------
  .main._indexPage
    //- hero & slider
    +section-1()

    //- hero & gallery
    +section-2()

    //- doors
    +section-3()

    //- salons & news
    +section-4()

    //- news & copy
    +section-5()
