extends ../layout/layout
include ../atoms/header/header
include ../atoms/headingLine/headingLine
include ../atoms/footer/footer

//- body
//-------------------------------------------------
block append layout-body
  +header()

  .main
    .wrapper
      .content
        +headingLine("Бренд")
        .brandBlock(
          data-aos="fade-up-slow"
          data-aos-duration="1000")
          .brandBlock__media
            picture
              source(media="(min-width: 700px)" srcset="img/page-brand-1-b.jpg")
              img(src="img/page-brand-1.png")
          .brandBlock__content Eniqa - новое слово в истории российского дизайна межкомнатных дверей. Наш промышленный прорыв начался в шестидесятые годы благодаря тесному сотрудничеству, созданному с архитектором Луиджи Каччей Доминиони. Сегодня компания работает со многими всемирно известными архитекторами, через наши выставочные залы в Москве, Новосибирске и Санкт-Петербурге, и наше лидерство в этой области признано на международном уровне.

        +headingLine("Миссия")
        .brandBlock(
          data-aos="fade-up-slow"
          data-aos-duration="1000")
          .brandBlock__media
            picture
              source(media="(min-width: 700px)" srcset="img/page-brand-2-b.jpg")
              img(src="img/page-brand-2.png")
          .brandBlock__content Качество продукта и превосходство в производственных процессах всегда составляли основные ценности  Eniqa. Значительный опыт и богатые знания компании сочетают в себе качество традиционного мастерства с самыми передовыми технологиями промышленного производства. Корпоративная социальная ответственность является краеугольным камнем ее философии и ее повседневной приверженности защите окружающей среды и использованию социально и экологически устойчивых материалов и ресурсов.

        +headingLine("Продукция")
        .brandBlock(
          data-aos="fade-up-slow"
          data-aos-duration="1000")
          .brandBlock__media
            picture
              source(media="(min-width: 700px)" srcset="img/page-brand-3-b.jpg")
              img(src="img/page-brand-3.png")
          .brandBlock__content Качество продукта и превосходство в производственных процессах всегда составляли основные ценности  Eniqa. Значительный опыт и богатые знания компании сочетают в себе качество традиционного мастерства с самыми передовыми технологиями промышленного производства. Корпоративная социальная ответственность является краеугольным камнем ее философии и ее повседневной приверженности защите окружающей среды и использованию социально и экологически устойчивых материалов и ресурсов.

    +footer()
