extends ../layout/layout
include ../atoms/header/header
include ../atoms/headingLine/headingLine
include ../atoms/catalogItem/catalogItem
include ../atoms/footer/footer

mixin dropdownBlock(name, className)
  .dropdownBlock.filterItem.js-dropdown-filter(class=className)
    .dropdownBlock__title
      .name #{name}
      .plus +
    .dropdownBlock__content
      if block
        block
      else
        .dropdownBlock__content__item Входные
        .dropdownBlock__content__item Наружные

//- body
//-------------------------------------------------
block append layout-body
  +header()

  +modalBase("js-modalFilters")
    .fixedScrollContainer__top
      +headingLine("Фильтры", "_smallPaddingBottom")
    .fixedScrollContainer__scroll.js-modalScroll(body-scroll-lock-ignore)
      .filtersModal
        +dropdownBlock("Тип дверей")
        +dropdownBlock("Стиль")
          .dropdownBlock__content__item Стильные
          .dropdownBlock__content__item Шикарные
        +dropdownBlock("Коллекция")
          .dropdownBlock__content__item Новинки
          .dropdownBlock__content__item 2018
          .dropdownBlock__content__item 2017
        +dropdownBlock("Покрытие")
          .dropdownBlock__content__item Да
          .dropdownBlock__content__item Нет
          .dropdownBlock__content__item Не важно
        +dropdownBlock("Цвет")
          .dropdownBlock__content__item Любой
          .dropdownBlock__content__item Оранжевый
    .fixedScrollContainer__bottom
      .button._grey.js-closeModal Сбросить все фильтры

  .main
    .wrapper
      .content
        +headingLine("Каталог")

        .catalog
          .filter
            +dropdownBlock("Тип дверей")
            .dropdownBlock._hideLaptop.js-showModalFilters
              .dropdownBlock__title
                .name Больше фильтров
                .plus →
            +dropdownBlock("Стиль", "_hideMobile")
              .dropdownBlock__content__item Стильные
              .dropdownBlock__content__item Шикарные
            +dropdownBlock("Коллекция", "_hideMobile")
              .dropdownBlock__content__item Новинки
              .dropdownBlock__content__item 2018
              .dropdownBlock__content__item 2017
            +dropdownBlock("Покрытие", "_hideMobile")
              .dropdownBlock__content__item Да
              .dropdownBlock__content__item Нет
              .dropdownBlock__content__item Не важно
            +dropdownBlock("Цвет", "_hideMobile")
              .dropdownBlock__content__item Любой
              .dropdownBlock__content__item Оранжевый

          .catalogItems
            +catalogItem('FLEXO Wood', 'Массив дуба', 'catalog-door-1.png')
            +catalogItem('FLEXO Wood', 'Массив дуба', 'catalog-door-2.png')
            +catalogItem('FLEXO Wood', 'Массив дуба', 'catalog-door-3.png')
            +catalogItem('FLEXO Wood', 'Массив дуба', 'catalog-door-4.png')
            +catalogItem('FLEXO Wood', 'Массив дуба', 'catalog-door-5.png')
            +catalogItem('FLEXO Wood', 'Массив дуба', 'catalog-door-6.png')
            +catalogItem('FLEXO Wood', 'Массив дуба', 'catalog-door-1.png')
            +catalogItem('FLEXO Wood', 'Массив дуба', 'catalog-door-2.png')

          .catalogPages
            .catalogPages__link._prev
              a(href="#") предыдущая страница

            .paginator
              .paginator__item: a(href="#")._active 1
              each number in [2, 3, 4, 5, 6, 7]
                .paginator__item: a(href="#") #{number}

            .catalogPages__link._next
              a(href="#") следующая страница

    +footer()
