extends ../layout/layout
include ../atoms/header/header
include ../atoms/headingLine/headingLine
include ../atoms/catalogItem/catalogItem
include ../atoms/footer/footer

//- body
//-------------------------------------------------
block append layout-body
  +header()

  .main
    .wrapper
      .content
        +headingLine("Tokyo Wood", null, "Коллекция ASIA")

        .doorBlock(
          data-aos="fade-up-slow"
          data-aos-duration="1000")
          .doorBlock__slider
            .doorBlock__slider__in
              .swiper-container.js-door-slider
                .slider__next
                .slider__prev
                .swiper-wrapper
                  .swiper-slide
                    .slider__item
                      .slider__image._door: img(src="img/catalog-door-6.png", alt="")
                  .swiper-slide
                    .slider__item
                      .slider__image._door: img(src="img/catalog-door-3.png", alt="")
                  .swiper-slide
                    .slider__item
                      .slider__image._door: img(src="img/catalog-door-2.png", alt="")
                .slider__pagination

          .doorBlock__content
            .doorBlock__content__in
              .doorInfo._paddingBottom50
                .doorInfo__text Межкомнатные Двери Tokyo Wood рекомендованы к установке в любых помещениях с комнатной температурой (в т. ч. и в ванных комната х). Данная модель двери может быть использована, как в стандартном варианте установки, так и в двойном (распашном) и раздвижном варианте.
                .doorInfo__button: a(href="salons.html").button Салоны

              .doorInfo
                .doorInfo__title Полотно:
                .doorInfo__text Каркас из массива, облицовка фрезерованный МДФ толщ 8 мм. Тройная линия фрезеровки с закруглениями в углах

              .doorInfo
                .doorInfo__title Отделка:
                .doorInfo__text Высококачественная Эмаль. Стандартные цвета: RAL 9003/9010

              .doorInfo
                .dropdownBlock.js-dropdown-filter(class=className)
                  .dropdownBlock__title
                    .name.doorInfo__upperCase Все характеристики
                    .plus +
                  .dropdownBlock__content
                    .doorInfo._inside
                      .doorInfo__title Искусство:
                      .doorInfo__text Атомистика амбивалентно подрывает даосизм. Интересно отметить, что вещь в себе порождает и обеспечивает из ряда вон выходящий структурализм.
                    .doorInfo._inside
                      .doorInfo__title Дуализм:
                      .doorInfo__text Согласно мнению известных философов, ощущение мира принимает во внимание мир, отрицая очевидное.

        +headingLine("Двери<br/>из<br/>коллекции<br/>Asia")

        .catalogItems.doorBlock__catalog
          +catalogItem('FLEXO Wood', 'Массив дуба', 'catalog-door-4.png')
          +catalogItem('FLEXO Wood', 'Массив дуба', 'catalog-door-5.png')
          +catalogItem('FLEXO Wood', 'Массив дуба', 'catalog-door-6.png')
          a.catalogItem(
            href="/catalog.html"
            data-aos="fade-up-slow"
            data-aos-duration="1000")
            .doorBlock__fullCollection.linkUpperCase коллекция <br />полностью

    +footer()
