extends ../layout/layout
include ../atoms/header/header
include ../atoms/headingLine/headingLine
include ../atoms/footer/footer

//- body
//-------------------------------------------------
block append layout-body
  +header()

  .main
    .wrapper
      .content
        +headingLine("Дилеры")
        picture
          source(media="(min-width: 700px)" srcset="img/page-partners-1-b.jpg")
          img.fullPageImage(
            src="img/page-partners-1.png"
            data-aos="fade-up-slow"
            data-aos-duration="1000")

        .contentBlock(
          data-aos="fade-up-slow"
          data-aos-duration="1000")
          .contentBlock__title Фирменная бренд-секция
          .contentBlock__content
            .contentBlock__text Вы можете приобрести образцы дверей в свой салон с нашим фирменным дизайнерским оформлением. Образцы предлагаются со скидкой.

        .contentBlock._noBorder._paddingBottom(
          data-aos="fade-up-slow"
          data-aos-duration="1000")
          .contentBlock__title Фирменный салон
          .contentBlock__content
            .contentBlock__text Сотрудничество в таком формате предполагает более высокую маржинальность, работу по стандартам компании, помощь в открытии и профессиональную оценку рентабельности, а также эксклюзив на определенную территорию. Мы рекомендуем открывать салоны площадью 60, либо 80 м2. Подробные условия высылаем по запросу.
            .contentBlock__upperCase: button.js-showModalContacts Запросить условия

        +headingLine("Дизайнеры и архитекторы")
        picture
          source(media="(min-width: 700px)" srcset="img/page-partners-2-b.jpg")
          img.fullPageImage(
            src="img/page-partners-2.png"
            data-aos="fade-up-slow"
            data-aos-duration="1000")

        .contentBlock(
          data-aos="fade-up-slow"
          data-aos-duration="1000")
          .contentBlock__title Сервис
          .contentBlock__content
            .contentBlock__text Мы обладаем всем арсеналом услуг: технологи по замерам, высококвалифицированные монтажные бригады, реставраторы. Оказываем гарантийное и постгарантийное обслуживание

        .contentBlock(
          data-aos="fade-up-slow"
          data-aos-duration="1000")
          .contentBlock__title Индивидуальное сопровождение
          .contentBlock__content
            .contentBlock__text Для удобства работы наш менеджер будет вести ваш заказ от замера до монтажа. Оперативно реагировать на все запросы.

        .contentBlock(
          data-aos="fade-up-slow"
          data-aos-duration="1000")
          .contentBlock__title Портфолио
          .contentBlock__content
            .contentBlock__text Мы с радостью разместим ваши проекты на нашем сайте с указанием автора и ссылками на сайт и социальные сети,  что будет способствовать увеличению лояльных клиентов.

        .contentBlock._noBorder._paddingBottom(
          data-aos="fade-up-slow"
          data-aos-duration="1000")
          .contentBlock__title Условия сотрудничества
          .contentBlock__content
            .contentBlock__text Индивидуальный подход и гибкое отношение приятно вас удивят. Нашим партнерам предоставляются все материалы для комфортной работы: образцы покрытий, каталоги и т.д.
            .contentBlock__upperCase: button.js-showModalContacts Запросить условия

  +footer()
