extends ../layout/layout
include ../atoms/header/header
include ../atoms/headingLine/headingLine
include ../atoms/footer/footer

//- body
//-------------------------------------------------
block append layout-body
  +header()

  .main
    .wrapper
      .content
        +headingLine("Салоны")

        .salonsBlock
          .salonsCities
            button.salonsCities__item.js-msk Москва
            button.salonsCities__item.js-piter Санкт-Петербург

          .salonsMap
            .mapBlock.js-map

        mixin salonItem(id, title, address, phones, className, emails)
          .salonContact(class=className id=id)
            .salonContact__title #{title}
            .salonContact__content
              .salonContact__text !{address}
              .salonContact__phones !{phones}

        +salonItem(
          'address1',
          'Eniqa м. Киевская',
          'г. Москва, Волоколамское ш., д. 142,<br/>стр. 6, 6 этаж, офис 639',
          '+7 (960) 984-44-20<br/>+7 (383) 354-99-50')
        +salonItem(
          'address2',
          'Eniqa м. Новослободская',
          'г. Москва, ТД "Дружба", Новослободская ул., 4',
          '+7 (960) 984-44-20<br/>+7 (383) 354-99-50')
        +salonItem(
          'address3',
          'Eniqa м. Рижская',
          'г. Москва, Волоколамское ш., д. 142,<br/>стр. 6, 6 этаж, офис 639',
          '+7 (960) 984-44-20<br/>+7 (383) 354-99-50',
          '_noBorder')

        +headingLine("Контактная<br/>информация", null, null, 'contacts')
        +salonItem(
          'address4',
          'Офис в Новосибирске',
          'г. Новосибирск, ул. Светлановская, д. 50',
          '+7 (960) 984-44-20<br/><a href="#">hello@eniqa.ru</a>',
          '_noBorder _paddingBottom')

    +script("./js/map.js")
    +script("https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyCmAKVo76j3I-k6aJg6oV3m2zDY0CazHRI")
    +footer()
