//- base
//-------------------------------------------------
mixin modalBase(className)
  .modalBlock(class=className)
    .header
      .wrapper
        .header__in
          .header__logo: a(href="index.html" title=site.name)
          .modalBlock__close.js-closeModal Закрыть

    .modalBlock__wrap
      .wrapper
        .modalBlock__content
          .fixedScrollContainer
            block

//- menu
//-------------------------------------------------
mixin modalMenu()
  +modalBase("js-modalMenu")
    .fixedScrollContainer__scroll
      .modalBlock__menu
        ul
          each item in site.mainMenu
            li: a(href=item.link, title=item.name) #{item.name}
    .fixedScrollContainer__bottom
      .modalBlock__copy.copy__madeBy
        | Разработано <br /> в&nbsp;
        a(href="#" title="Renovartio") Renovartio

//- contacts
//-------------------------------------------------
mixin modalContact()
  .modalCenter.js-modalContacts
    .modalCenter__wrap
      .modalCenter__overflow.js-closeModal
      .modalCenter__content
        .modalCenter__close.js-closeModal +
        h3.modalCenter__title Заполните заявку
        form.form
          .form__item(body-scroll-lock-ignore)
            input(type="text" placeholder="Имя" required)
          .form__item
            input(type="email" placeholder="E-mail" required)
          .form__item
            input(type="phone" placeholder="Телефон" required)
          .form__item
            textarea(name="text" placeholder="Сообщение")
          .form__submit: button.button Отправить
          .form__terms
            | Нажимая кнопку «отправить» вы соглашаетесь с&nbsp;
            a(href="#") условиями обработки
            | &nbsp;персональных данных

//- gallery
//-------------------------------------------------
mixin modalGalley()
  +modalBase("js-modalGallery")
    .fixedScrollContainer__scroll
      .galerySlider
        .slider__pagination.galerySlider__pagination
        .slider__next.galerySlider__next
        .slider__prev.galerySlider__prev
        .swiper-container.js-gallery-slider
          .swiper-wrapper
            .swiper-slide
              .galerySlider__item
                a(href="door.html").galerySlider__image._galley: img(src="img/gallery-1.jpg", alt="")
                .galerySlider__title
                  | Дверь&nbsp;
                  a(href="door.html") Wood B—800
            .swiper-slide
              .galerySlider__item
                a(href="door.html").galerySlider__image._galley: img(src="img/gallery-2.jpg", alt="")
                .galerySlider__title
                  | Дверь&nbsp;
                  a(href="door.html") Glass 999
            .swiper-slide
              .galerySlider__item
                a(href="door.html").galerySlider__image._galley: img(src="img/gallery-3.jpg", alt="")
                .galerySlider__title
                  | Дверь&nbsp;
                  a(href="door.html") Wood А—1000
