// colors
// -----------------------------------------------
:root
  --font-white rgb(255, 255, 255)

  // --font-grey-245 rgb(245, 245, 245) // ?
  --font-grey-245 red
  --font-grey-235 rgb(235, 235, 235)
  --font-grey-128 rgb(128, 128, 128)

  --font-dark-77 rgb(77, 77, 77)
  --font-dark-50 rgb(50, 50, 50)
  --font-dark-26 rgb(26, 26, 26)
  --font-dark-8 rgb(8, 8, 8)


// fonts
// -----------------------------------------------
@font-face
  font-family 'gilroyregular'
  src url('../fonts/font-regular.woff2') format('woff2'), url('font-regular.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'gilroymedium'
  src url('../fonts/font-medium.woff2') format('woff2'), url('font-medium.woff') format('woff')
  font-weight normal
  font-style normal

// @font-face
//   font-family 'gilroybold'
//   src url('../fonts/font-bold.woff2') format('woff2'), url('font-bold.woff') format('woff')
//   font-weight normal
//   font-style normal

font-primary()
  font-family 'Gilroy', 'gilroyregular', 'Calibri', 'Arial', sans-serif
  font-weight 400
  letter-spacing 0

font-medium()
  font-family 'Gilroy', 'gilroymedium', 'Calibri', 'Arial', sans-serif
  font-weight 500
  letter-spacing 0


// sizes
// -----------------------------------------------
font-size12()
  font-size 12px
  font-weight 400
  line-height 16px

font-size12u()
  font-medium()
  font-size 12px
  font-weight 600
  line-height 16px
  text-transform uppercase

font-size13()
  font-size 13px
  font-weight 400
  line-height 20px

font-size13-2()
  font-size 13px
  font-weight 400
  line-height 22px
  letter-spacing .6px

font-size14()
  font-medium()
  font-size 14px
  font-weight 500
  line-height 24px


// typo
// -----------------------------------------------
typo-12-dark-77()
  font-size12()
  color var(--font-dark-77)

typo-12u-dark-77()
  font-size12u()
  color var(--font-dark-77)

typo-12u-dark-8()
  font-size12u()
  color var(--font-dark-8)

typo-12u-dark-26()
  font-size12u()
  color var(--font-dark-26)

typo-12u-dark-50()
  font-size12u()
  color var(--font-dark-50)

typo-12u-white()
  font-size12u()
  color var(--font-white)

typo-12u-128()
  font-size12u()
  color var(--font-grey-128)

typo-13-grey-128()
  font-size13()
  color var(--font-grey-128)

typo-13-white()
  font-size13()
  color var(--font-white)

typo-13-grey-235()
  opacity .75
  font-size13()
  color var(--font-grey-235)

typo-13-dark-77()
  font-size13()
  color var(--font-dark-77)

typo-13-dark-26()
  font-size13()
  font-weight 500
  font-medium()
  line-height 22px
  color var(--font-dark-26)

typo-14-white()
  font-size14()
  color var(--font-white)

typo-14-dark-26()
  font-size14()
  color var(--font-dark-26)

typo-22-dark-26()
  font-size 22px
  font-weight 500
  font-medium()
  color var(--font-dark-26)
