mixin footer()
  footer.footer
    .wrapper
      .footer__wrap
        .footer__content
          .footer__contacts
            .phone 8 (985) 452–86–98
            .email: a(href="mailto:hello@eniqa.ru") hello@eniqa.ru
          .footer__menu
            ul
              each item in site.mainMenu
                li: a(href=item.link, title=item.name) #{item.name}
