//- variables
//-------------------------------------------------
- const pageTitle = "Eniqa"
- const themeColor = "#ffffff"
- const googleFonts = ""

-
  const site = {
    name: 'Eniqa',
    phone: '8 (985) 452–86–98',

    mainMenu: [{
      name: 'Главная',
      link: 'index.html'
    }, {
      name: 'Каталог',
      link: 'catalog.html'
    }, {
      name: 'Где купить',
      link: 'salons.html'
    }, {
      name: 'Бренд',
      link: 'brand.html'
    }, {
      name: 'Партнерам',
      link: 'partners.html'
    }, {
      name: 'Контакты',
      link: 'salons.html#contacts'
    }],

    mainMenuShort: [{
      name: 'Главная',
      link: 'index.html'
    }, {
      name: 'Каталог',
      link: 'catalog.html'
    }, {
      name: 'Бренд',
      link: 'brand.html'
    }]
  }







