mixin headingLine(text, className, sutText, link)
  .headingLine(class=className, id=link)
    .headingLine__content
      h1.headingLine__text !{text}
      if sutText
        .headingLine__subText !{sutText}
    .headingLine__bd
