.fixedScrollContainer
  display-flex("column")
  height 100%

  &__top
    flex-grow 0

  &__scroll
    height 100%
    overflow hidden
    overflow-y auto
    -webkit-overflow-scrolling touch

  &__bottom
    padding-top 30px
    flex-grow 0
