// Headings
h1, h2, h3, h4, h5, h6
  font-weight 400
  letter-spacing .6px

h1
  font-size 36px

h2
  font-size 30px

h3
  font-size 22px
  font-weight 500

h4
  font-size 18px

h5
  font-size 14px

h6
  font-size 12px


// Customize
.headingLine
  display-flex()
  margin-bottom 48px
  &._smallPaddingBottom
    margin-bottom 30px

  &__content
    padding-right 50px
    @media $media-laptop
      width 18%

  &__text
    padding 0
    margin 0
    typo-22-dark-26()
    line-height 32px

  &__bd
    flex-grow 1
    height 1px
    margin-top 22px
    background rgb(128, 126, 125)

  &__subText
    padding-top 16px
    typo-13-grey-128()
