//- includes
//-------------------------------------------------
include head
include styles
include scripts
include ../atoms/modal/modal
include ../site.config.pug

//- layout
//-------------------------------------------------
doctype html
html
  head
    +head
    +styles

  body.body.js-body
    .app.js-app
      .loader.js-loader
        .spinner
          .spinner__dot1
          .spinner__dot2
      +modalMenu()
      +modalContact()

      block layout-body

  +scripts
  block scripts
